dist: trusty
sudo: false

language: scala
scala:
  - 2.12.2

jdk:
  - oraclejdk8

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.m2

addons:
  postgresql: "9.6"

before_script:
  - cp core/src/test/resources/application.conf.example core/src/test/resources/application.conf
  - psql -c 'create database pepeground_test;' -U postgres

script:
  - sbt coverage core/test
  - sbt bot/assembly
